complete_project/.node-red/.flows_raspberrypi.json.backup
[{"id":"dd4c4995.ed342","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"39722fe1.c418e","type":"modbus-client","z":"","name":"modbus usb","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"ASCII","serialBaudrate":"9600","serialDatabits":"7","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"81487e4a.538d18","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"caaf1e72.80208","type":"roborock-config","z":"","name":"","host":"localhost","token":"XiAoMiToKeN"},{"id":"31bff42.55a210c","type":"roborock-config","z":"","name":"probaconfig","host":"localhost","token":"XiAoMiToKeN"},{"id":"22354981.27e386","type":"ui_tab","z":"","name":"Világítás","icon":"dashboard","disabled":false,"hidden":false},{"id":"a2d4aa7b.48992","type":"ui_group","z":"","name":"Lámpák","tab":"22354981.27e386","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1074cef.1fb5b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#a71710","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#991a1a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#a71710","edited":true},"page-titlebar-backgroundColor":{"value":"#a71710","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#e9241a","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#a71710","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Házvezérlő","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a4d78975.1fcb48","type":"ui_tab","z":"","name":"Konnektorok","icon":"dashboard","disabled":false,"hidden":false},{"id":"6bd21ade.3ce6e4","type":"ui_group","z":"","name":"Konnektorok","tab":"a4d78975.1fcb48","order":1,"disp":true,"width":"6","collapse":false},{"id":"33a7c738.d16","type":"ui_tab","z":"","name":"Egyéb","icon":"dashboard","disabled":false,"hidden":false},{"id":"1c2c81e5.8eacfe","type":"ui_group","z":"","name":"Egyéb","tab":"33a7c738.d16","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4c0fc64.b7c69","type":"ui_tab","z":"","name":"Ismeretlen","icon":"dashboard","disabled":false,"hidden":false},{"id":"59f1b445.86f2cc","type":"ui_group","z":"","name":"Ismeretlen","tab":"b4c0fc64.b7c69","order":1,"disp":true,"width":"6","collapse":false},{"id":"978de034.4bf0a","type":"nora-light","z":"dd4c4995.ed342","devicename":"Kitchen lamps","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Kitchen","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":160,"y":200,"wires":[["c135df42.9083b"]]},{"id":"3a7a8747.16d6d","type":"nora-light","z":"dd4c4995.ed342","devicename":"Garage corridor lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garage","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":180,"y":520,"wires":[["6cb7377f.47435"]]},{"id":"c32fd7ab.9f1198","type":"nora-light","z":"dd4c4995.ed342","devicename":"Corridor lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Corridor","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":160,"y":480,"wires":[["b42ccff.84a1f3"]]},{"id":"de4b500f.6e5ff8","type":"nora-light","z":"dd4c4995.ed342","devicename":"Lamp 2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Máté's room","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":140,"y":440,"wires":[["f4fa1ab4.589388"]]},{"id":"8793c139.448778","type":"nora-light","z":"dd4c4995.ed342","devicename":"Guest lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Guest room","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":150,"y":400,"wires":[["f67ef39a.fd8148"]]},{"id":"90fb7bbe.050a3","type":"nora-light","z":"dd4c4995.ed342","devicename":"Lamp 1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Bende's room","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":140,"y":360,"wires":[["ad963a46.a21f1"]]},{"id":"6f4fb5e2.41ff54","type":"nora-light","z":"dd4c4995.ed342","devicename":"Garage side lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garage","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":170,"y":320,"wires":[["6f356d51.7d455c"]]},{"id":"4a42447b.51e754","type":"nora-light","z":"dd4c4995.ed342","devicename":"Garage lamps","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garage","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":160,"y":280,"wires":[["920d7420.180a6"]]},{"id":"ec442a80.27d45","type":"nora-light","z":"dd4c4995.ed342","devicename":"Kitchen middle lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Kitchen","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":180,"y":240,"wires":[["edbbaba2.bd4fd"]]},{"id":"6bbb465d.33962","type":"nora-light","z":"dd4c4995.ed342","devicename":"Bedroom lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Bedroom","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":160,"y":880,"wires":[["b41b7e3f.873038"]]},{"id":"d99761f2.94686","type":"nora-light","z":"dd4c4995.ed342","devicename":"Hall lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Hall","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":140,"y":760,"wires":[["959b7edb.3b35b8"]]},{"id":"cff47d9c.935fa","type":"nora-light","z":"dd4c4995.ed342","devicename":"Guest toilet lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Guest toilet","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":170,"y":840,"wires":[["bd241016.602db8"]]},{"id":"f7139909.67421","type":"nora-light","z":"dd4c4995.ed342","devicename":"Living room middle lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Living room","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":190,"y":80,"wires":[["47b3efbd.aaf2d"]]},{"id":"3a6522fe.c5c13e","type":"nora-light","z":"dd4c4995.ed342","devicename":"Wardrobe lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Wardrobe","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":160,"y":920,"wires":[["ab28e3b5.1c7bd"]]},{"id":"26067a07.c0d876","type":"nora-light","z":"dd4c4995.ed342","devicename":"Lamp 3","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Gergő's room","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":140,"y":960,"wires":[["21f5be23.7c15ba"]]},{"id":"6812c0dd.e7efa","type":"nora-light","z":"dd4c4995.ed342","devicename":"Living room side lamp 1","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Living room","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":190,"y":120,"wires":[["b959bfec.d1bb98"]]},{"id":"3ce7f6fd.fea322","type":"nora-light","z":"dd4c4995.ed342","devicename":"Living room side lamp 2","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Living room","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":190,"y":160,"wires":[["8f084d87.d08718"]]},{"id":"d830935b.340358","type":"nora-light","z":"dd4c4995.ed342","devicename":"Living room side lamp half","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Living room","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":190,"y":1580,"wires":[["28899ddd.25b6d2"]]},{"id":"7b8acf1a.6314d","type":"comment","z":"dd4c4995.ed342","name":"Base lights","info":"","x":360,"y":40,"wires":[]},{"id":"9a4b552c.d09aa","type":"comment","z":"dd4c4995.ed342","name":"Derived lights","info":"","x":380,"y":1540,"wires":[]},{"id":"3dc41aa5.3ad92e","type":"nora-light","z":"dd4c4995.ed342","devicename":"Living room side lamp full","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Living room","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":190,"y":1660,"wires":[["be4ea88c.d3d0a8"]]},{"id":"28899ddd.25b6d2","type":"modbus-write","z":"dd4c4995.ed342","name":"Living room side lamp 1","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1282","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":580,"y":1580,"wires":[[],[]]},{"id":"b290f1f5.b950b","type":"modbus-write","z":"dd4c4995.ed342","name":"Living room side lamp 1","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1282","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":580,"y":1660,"wires":[[],[]]},{"id":"b8657197.5a6288","type":"delay","z":"dd4c4995.ed342","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":1780,"wires":[["c390a6b2.598498"]]},{"id":"c390a6b2.598498","type":"modbus-write","z":"dd4c4995.ed342","name":"Living room side lamp 2","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1283","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":580,"y":1740,"wires":[[],[]]},{"id":"be4ea88c.d3d0a8","type":"switch","z":"dd4c4995.ed342","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":1720,"wires":[["c390a6b2.598498","b290f1f5.b950b"],["b8657197.5a6288","b290f1f5.b950b"]]},{"id":"1acdb979.902737","type":"modbus-read","z":"dd4c4995.ed342","name":"ReadPLC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1280","quantity":"71","rate":"1500","rateUnit":"ms","delayOnStart":true,"startDelayTime":"3","server":"39722fe1.c418e","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":920,"y":1300,"wires":[["6be3fb2c.cc92d4"],[]]},{"id":"a6a63ab7.a37638","type":"split","z":"dd4c4995.ed342","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1350,"y":1300,"wires":[["e9e659a0.34ddd"]]},{"id":"b56b323e.273938","type":"switch","z":"dd4c4995.ed342","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1281","vt":"num"},{"t":"eq","v":"1282","vt":"num"},{"t":"eq","v":"1283","vt":"num"},{"t":"eq","v":"1284","vt":"num"},{"t":"eq","v":"1285","vt":"num"},{"t":"eq","v":"1297","vt":"num"},{"t":"eq","v":"1300","vt":"num"},{"t":"eq","v":"1303","vt":"num"},{"t":"eq","v":"1305","vt":"num"},{"t":"eq","v":"1307","vt":"num"},{"t":"eq","v":"1309","vt":"num"},{"t":"eq","v":"1310","vt":"num"},{"t":"eq","v":"1311","vt":"num"},{"t":"eq","v":"1312","vt":"num"},{"t":"eq","v":"1316","vt":"num"},{"t":"eq","v":"1317","vt":"num"},{"t":"eq","v":"1319","vt":"num"},{"t":"eq","v":"1320","vt":"num"},{"t":"eq","v":"1321","vt":"num"},{"t":"eq","v":"1324","vt":"num"},{"t":"eq","v":"1325","vt":"num"},{"t":"eq","v":"1326","vt":"num"},{"t":"eq","v":"1327","vt":"num"},{"t":"eq","v":"1329","vt":"num"},{"t":"eq","v":"1330","vt":"num"},{"t":"eq","v":"1331","vt":"num"},{"t":"eq","v":"1332","vt":"num"},{"t":"eq","v":"1333","vt":"num"},{"t":"eq","v":"1334","vt":"num"},{"t":"eq","v":"1335","vt":"num"},{"t":"eq","v":"1336","vt":"num"},{"t":"eq","v":"1337","vt":"num"},{"t":"eq","v":"1345","vt":"num"},{"t":"eq","v":"1280","vt":"num"},{"t":"eq","v":"1296","vt":"num"},{"t":"eq","v":"1302","vt":"num"},{"t":"eq","v":"1304","vt":"num"},{"t":"eq","v":"1306","vt":"num"},{"t":"eq","v":"1308","vt":"num"},{"t":"eq","v":"1313","vt":"num"},{"t":"eq","v":"1314","vt":"num"},{"t":"eq","v":"1315","vt":"num"},{"t":"eq","v":"1318","vt":"num"},{"t":"eq","v":"1322","vt":"num"},{"t":"eq","v":"1323","vt":"num"},{"t":"eq","v":"1328","vt":"num"},{"t":"eq","v":"1338","vt":"num"},{"t":"eq","v":"1339","vt":"num"},{"t":"eq","v":"1340","vt":"num"},{"t":"eq","v":"1341","vt":"num"},{"t":"eq","v":"1342","vt":"num"},{"t":"eq","v":"1343","vt":"num"},{"t":"eq","v":"1347","vt":"num"},{"t":"eq","v":"1348","vt":"num"},{"t":"eq","v":"1349","vt":"num"},{"t":"eq","v":"1350","vt":"num"},{"t":"eq","v":"1351","vt":"num"},{"t":"eq","v":"1286","vt":"num"},{"t":"eq","v":"1287","vt":"num"},{"t":"eq","v":"1288","vt":"num"},{"t":"eq","v":"1346","vt":"num"},{"t":"eq","v":"1289","vt":"num"},{"t":"eq","v":"1290","vt":"num"},{"t":"eq","v":"1291","vt":"num"},{"t":"eq","v":"1298","vt":"num"},{"t":"eq","v":"1299","vt":"num"},{"t":"eq","v":"1344","vt":"num"}],"checkall":"false","repair":false,"outputs":67,"x":1710,"y":1300,"wires":[["35fce03d.cb0ec8"],["25068a04.4a770e"],["e028961a.b967b8"],["dfbca49f.3459a"],["ee445e1f.6c54d"],["e08e0653.be4878"],["e258c294.ee3958"],["13a25363.3b637d"],["ffec0320.13bec8"],["39e50cff.a3f21c"],["44d791f7.c13bb"],["c7055781.f46168"],["863237b8.109d38"],["a8fa9d0.afd366"],["9dac9a3a.0231b"],["6a5d33dd.175b04"],["c98b872.c7c8378"],["47c22d47.832adc"],["7e4abb7d.44513c"],["94310f07.a815b8"],["d06d8603.6c3f58"],["b72bdd69.86573"],["f4bf124a.30ba28"],["df260099.a80628"],["7c342fe.fc0305"],["fd431701.39b908"],["707bf4a8.3e4974"],["f55f8605.937308"],["5847234c.37365c"],["648b4184.cb9258"],["e1320c66.d2f898"],["76e9ed65.efee0c"],["d26fc618.a59ad8"],["4ce6dcbe.78e86c"],["838ea204.f4b25"],["d8094e35.ccf52"],["5f85c961.2c493"],["2844467f.bd249a"],["7b1c9926.117dd8"],["109dd659.a2752a"],["9dca08e5.2fc678"],["1e754a57.1779d6"],["215c3fa8.e2a2e"],["1bc12ae3.99ea25"],["4e2b0379.53d744"],["c5fee8b9.750db8"],["44879071.df9888"],["ab715ac1.64c43"],["a049c58a.b85458"],["55afb108.810b1"],["fab5c239.2c004"],["233ff8ba.805918"],["cb282ecd.2c5d08"],["4b28eaba.f4b24c"],["2b2f1aea.57293e"],["44a76886.66e598"],["a07b04f0.032a98"],["d828a0e9.2c139"],["affc390b.51aee"],["4694a903.7763c"],["19d06bf1.64fe44"],["517075bd.544bcc"],["2b701380.9955b4"],["39cc3606.2a080a"],["4ff70d6a.1fda4c"],["30efe7fd.771d28"],["ab535452.f2c9b8"]]},{"id":"ed1224e5.15fff8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali világítás terasz felől középen","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2190,"y":100,"wires":[["8f65fcaf.7b149"]]},{"id":"5866e510.01ba2c","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali világítás neon 1","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2150,"y":140,"wires":[["f11b3d9e.d1245"]]},{"id":"f5dfed02.34daf8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali világítás neon 2","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2150,"y":180,"wires":[["392cb6a3.29d58a"]]},{"id":"738f96b.3b74168","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Konyha világítás összes lámpa","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2170,"y":220,"wires":[["f7602a8e.633d6"]]},{"id":"8f65fcaf.7b149","type":"modbus-write","z":"dd4c4995.ed342","name":"1281","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1281","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":100,"wires":[[],[]]},{"id":"f11b3d9e.d1245","type":"modbus-write","z":"dd4c4995.ed342","name":"1282","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1282","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":140,"wires":[[],[]]},{"id":"392cb6a3.29d58a","type":"modbus-write","z":"dd4c4995.ed342","name":"1283","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1283","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":180,"wires":[[],[]]},{"id":"f7602a8e.633d6","type":"modbus-write","z":"dd4c4995.ed342","name":"1284","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1284","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":220,"wires":[[],[]]},{"id":"6be3fb2c.cc92d4","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1070,"y":1300,"wires":[["1bc126f4.1107d9"]]},{"id":"35fce03d.cb0ec8","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":100,"wires":[["ed1224e5.15fff8"]]},{"id":"25068a04.4a770e","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":140,"wires":[["5866e510.01ba2c"]]},{"id":"1bc126f4.1107d9","type":"function","z":"dd4c4995.ed342","name":"addIndex","func":"for(var i = 0; i < 72; ++i){\n    msg.payload[i] = [msg.payload[i]?1:0, i+1280]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1300,"wires":[["a6a63ab7.a37638"]]},{"id":"764ca8e0.dc1c78","type":"modbus-write","z":"dd4c4995.ed342","name":"1285","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1285","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":260,"wires":[[],[]]},{"id":"3a7dd12d.7ec9b6","type":"modbus-write","z":"dd4c4995.ed342","name":"1297","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1297","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":300,"wires":[[],[]]},{"id":"543140d4.4976d","type":"modbus-write","z":"dd4c4995.ed342","name":"1300","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1300","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":340,"wires":[[],[]]},{"id":"636acb56.d4119c","type":"modbus-write","z":"dd4c4995.ed342","name":"1303","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1303","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":380,"wires":[[],[]]},{"id":"e8bfa6fc.05e8b","type":"modbus-write","z":"dd4c4995.ed342","name":"1305","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1305","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":420,"wires":[[],[]]},{"id":"eb8a5160.63c9c8","type":"modbus-write","z":"dd4c4995.ed342","name":"1307","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1307","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":460,"wires":[[],[]]},{"id":"715588f1.536fe8","type":"modbus-write","z":"dd4c4995.ed342","name":"1309","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1309","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":500,"wires":[[],[]]},{"id":"b7aa9a97.c3dd58","type":"modbus-write","z":"dd4c4995.ed342","name":"1310","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1310","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":540,"wires":[[],[]]},{"id":"cd391c2d.65412","type":"modbus-write","z":"dd4c4995.ed342","name":"1311","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1311","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":580,"wires":[[],[]]},{"id":"4487d75f.756d98","type":"modbus-write","z":"dd4c4995.ed342","name":"1312","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1312","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":620,"wires":[[],[]]},{"id":"5fcf4117.eb073","type":"modbus-write","z":"dd4c4995.ed342","name":"1316","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1316","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":660,"wires":[[],[]]},{"id":"6ab0591d.dcbcf8","type":"modbus-write","z":"dd4c4995.ed342","name":"1317","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1317","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":700,"wires":[[],[]]},{"id":"86078f2e.70373","type":"modbus-write","z":"dd4c4995.ed342","name":"1317","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1317","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":740,"wires":[[],[]]},{"id":"aa5cc56c.561248","type":"modbus-write","z":"dd4c4995.ed342","name":"1319","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1319","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":780,"wires":[[],[]]},{"id":"3bf42a93.623746","type":"modbus-write","z":"dd4c4995.ed342","name":"1320","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1320","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":820,"wires":[[],[]]},{"id":"649ed393.befa7c","type":"modbus-write","z":"dd4c4995.ed342","name":"1321","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1321","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":860,"wires":[[],[]]},{"id":"e2310928.4b27f8","type":"modbus-write","z":"dd4c4995.ed342","name":"1324","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1324","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":900,"wires":[[],[]]},{"id":"b5b59875.536c8","type":"modbus-write","z":"dd4c4995.ed342","name":"1325","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1325","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":940,"wires":[[],[]]},{"id":"49d2bad5.1de464","type":"modbus-write","z":"dd4c4995.ed342","name":"1326","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1326","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":980,"wires":[[],[]]},{"id":"caf47b42.523b4","type":"modbus-write","z":"dd4c4995.ed342","name":"1327","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1327","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1020,"wires":[[],[]]},{"id":"2b27ed40.03bc2a","type":"modbus-write","z":"dd4c4995.ed342","name":"1329","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1329","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1060,"wires":[[],[]]},{"id":"83216cbc.5a5ea8","type":"modbus-write","z":"dd4c4995.ed342","name":"1330","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1330","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1100,"wires":[[],[]]},{"id":"b9570f98.6e96f8","type":"modbus-write","z":"dd4c4995.ed342","name":"1331","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1331","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1140,"wires":[[],[]]},{"id":"daa133bf.8f7188","type":"modbus-write","z":"dd4c4995.ed342","name":"1332","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1332","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1180,"wires":[[],[]]},{"id":"efd28034.37544","type":"modbus-write","z":"dd4c4995.ed342","name":"1333","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1333","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1220,"wires":[[],[]]},{"id":"3309fe14.055862","type":"modbus-write","z":"dd4c4995.ed342","name":"1334","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1334","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1260,"wires":[[],[]]},{"id":"392a96e9.0fb84a","type":"modbus-write","z":"dd4c4995.ed342","name":"1335","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1335","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1300,"wires":[[],[]]},{"id":"b0f50.a33ef8b08","type":"modbus-write","z":"dd4c4995.ed342","name":"1336","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1336","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1340,"wires":[[],[]]},{"id":"52966427.69b4e4","type":"modbus-write","z":"dd4c4995.ed342","name":"1337","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1337","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1380,"wires":[[],[]]},{"id":"9ddd91e.621a37","type":"modbus-write","z":"dd4c4995.ed342","name":"1345","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1345","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1420,"wires":[[],[]]},{"id":"e028961a.b967b8","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":180,"wires":[["f5dfed02.34daf8"]]},{"id":"dfbca49f.3459a","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":220,"wires":[["738f96b.3b74168"]]},{"id":"ee445e1f.6c54d","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":260,"wires":[["c7198364.b0ab3"]]},{"id":"e08e0653.be4878","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":300,"wires":[["fa4f764a.92c6d"]]},{"id":"e258c294.ee3958","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":340,"wires":[["81cd6862.be6ef"]]},{"id":"13a25363.3b637d","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":380,"wires":[["6c5cd3d5.be567c"]]},{"id":"ffec0320.13bec8","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":420,"wires":[["1a1647bd.d4a4e8"]]},{"id":"39e50cff.a3f21c","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":460,"wires":[["d45a48a9.b1ff5"]]},{"id":"44d791f7.c13bb","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":500,"wires":[["d5e84680.344fc"]]},{"id":"c7055781.f46168","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":540,"wires":[["7f17df38.0dd3"]]},{"id":"863237b8.109d38","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":580,"wires":[["6ae9f5f1.df02b4"]]},{"id":"a8fa9d0.afd366","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":620,"wires":[["7dcc4e0e.6303a8"]]},{"id":"9dac9a3a.0231b","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":660,"wires":[["1d392e85.82e8c9"]]},{"id":"6a5d33dd.175b04","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":700,"wires":[["9743eef8.2167","3b096792.bcc408"]]},{"id":"c7198364.b0ab3","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Konyha világítás sziget felett","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2160,"y":260,"wires":[["764ca8e0.dc1c78"]]},{"id":"fa4f764a.92c6d","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Garázs világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2120,"y":300,"wires":[["3a7dd12d.7ec9b6"]]},{"id":"81cd6862.be6ef","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Motorbejárat világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2140,"y":340,"wires":[["543140d4.4976d"]]},{"id":"6c5cd3d5.be567c","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Bende lámpa","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2110,"y":380,"wires":[["636acb56.d4119c"]]},{"id":"1a1647bd.d4a4e8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Vendégszoba lámpa","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2140,"y":420,"wires":[["e8bfa6fc.05e8b"]]},{"id":"d45a48a9.b1ff5","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Máté lámpa","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2110,"y":460,"wires":[["eb8a5160.63c9c8"]]},{"id":"d5e84680.344fc","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Folyosó világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2130,"y":500,"wires":[["715588f1.536fe8"]]},{"id":"7f17df38.0dd3","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Garázs folyosó világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2150,"y":540,"wires":[["b7aa9a97.c3dd58"]]},{"id":"6ae9f5f1.df02b4","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Gyerek fürdőszoba világítás mennyezet","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2200,"y":580,"wires":[["cd391c2d.65412"]]},{"id":"7dcc4e0e.6303a8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Gyerek fürdőszoba összes lámpa","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2180,"y":620,"wires":[["4487d75f.756d98"]]},{"id":"1d392e85.82e8c9","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Szülő fürdőszoba világítás tükör","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2170,"y":660,"wires":[["5fcf4117.eb073"]]},{"id":"9743eef8.2167","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Szülő fürdőszoba világítás mennyezet","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2190,"y":700,"wires":[["6ab0591d.dcbcf8"]]},{"id":"3b096792.bcc408","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Szülő fürdőszoba összes lámpa","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2170,"y":740,"wires":[["86078f2e.70373"]]},{"id":"19ccbead.76d789","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Előszoba világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2130,"y":780,"wires":[["aa5cc56c.561248"]]},{"id":"a80bcafd.eb4fd","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Kamra világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2120,"y":820,"wires":[["3bf42a93.623746"]]},{"id":"ca56d4d0.87c13","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Vendég WC világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2140,"y":860,"wires":[["649ed393.befa7c"]]},{"id":"a44a218d.aec49","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Hálószoba lámpa","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2130,"y":900,"wires":[["e2310928.4b27f8"]]},{"id":"730fc258.9beca4","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Gardrób konnektor + lámpa","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2160,"y":940,"wires":[["b5b59875.536c8"]]},{"id":"a9021f65.704a18","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Gardrób világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2130,"y":980,"wires":[["49d2bad5.1de464"]]},{"id":"a4b9144.23255e8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Gergő világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2120,"y":1020,"wires":[["caf47b42.523b4"]]},{"id":"b8b9565a.1f656","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Külső utcai bejárat világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2160,"y":1060,"wires":[["2b27ed40.03bc2a"]]},{"id":"5b5c24a3.38dbd4","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Külső nagy fal világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2140,"y":1100,"wires":[["83216cbc.5a5ea8"]]},{"id":"926e173d.07f3e","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Külső hálószoba-fal világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2160,"y":1140,"wires":[["b9570f98.6e96f8"]]},{"id":"2e584ec.2b8bdb2","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Külső terasz középen világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2170,"y":1180,"wires":[["daa133bf.8f7188"]]},{"id":"d313e004.273988","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Külső étkező-fal világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2150,"y":1220,"wires":[["efd28034.37544"]]},{"id":"4448c4e4.97b94c","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Külső konyhai-fal világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2150,"y":1260,"wires":[["3309fe14.055862"]]},{"id":"6dfc8e27.c943","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Külső utcai bejárat világítás bejárati ajtónál","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2210,"y":1300,"wires":[["392a96e9.0fb84a"]]},{"id":"9b2417fa.590a9","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Étkező világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2120,"y":1340,"wires":[["b0f50.a33ef8b08"]]},{"id":"3b1ab9fa.22366e","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Kazán világítás KM18/1","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2150,"y":1380,"wires":[["52966427.69b4e4"]]},{"id":"98c1c163.c012f","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Padlás világítás","tooltip":"","group":"a2d4aa7b.48992","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2120,"y":1420,"wires":[["9ddd91e.621a37"]]},{"id":"e9e659a0.34ddd","type":"function","z":"dd4c4995.ed342","name":"","func":"var temp = msg.payload\nmsg.payload = temp[0]\nmsg.topic = temp[1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":1300,"wires":[["b56b323e.273938"]]},{"id":"c98b872.c7c8378","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":780,"wires":[["19ccbead.76d789"]]},{"id":"47c22d47.832adc","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":820,"wires":[["a80bcafd.eb4fd"]]},{"id":"7e4abb7d.44513c","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":860,"wires":[["ca56d4d0.87c13"]]},{"id":"94310f07.a815b8","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":900,"wires":[["a44a218d.aec49"]]},{"id":"d06d8603.6c3f58","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":940,"wires":[["730fc258.9beca4"]]},{"id":"b72bdd69.86573","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":980,"wires":[["a9021f65.704a18"]]},{"id":"f4bf124a.30ba28","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1020,"wires":[["a4b9144.23255e8"]]},{"id":"df260099.a80628","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1060,"wires":[["b8b9565a.1f656"]]},{"id":"7c342fe.fc0305","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1100,"wires":[["5b5c24a3.38dbd4"]]},{"id":"fd431701.39b908","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1140,"wires":[["926e173d.07f3e"]]},{"id":"707bf4a8.3e4974","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1180,"wires":[["2e584ec.2b8bdb2"]]},{"id":"f55f8605.937308","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1220,"wires":[["d313e004.273988"]]},{"id":"5847234c.37365c","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1260,"wires":[["4448c4e4.97b94c"]]},{"id":"648b4184.cb9258","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1300,"wires":[["6dfc8e27.c943"]]},{"id":"e1320c66.d2f898","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1340,"wires":[["9b2417fa.590a9"]]},{"id":"76e9ed65.efee0c","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1380,"wires":[["3b1ab9fa.22366e"]]},{"id":"d26fc618.a59ad8","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1420,"wires":[["98c1c163.c012f"]]},{"id":"4ce6dcbe.78e86c","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1460,"wires":[["a26cfe9c.7a952"]]},{"id":"838ea204.f4b25","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1500,"wires":[["dbdba8ab.d3ad38"]]},{"id":"d8094e35.ccf52","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1540,"wires":[["2f435e90.a6084a"]]},{"id":"5f85c961.2c493","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1580,"wires":[["a6cd0316.24bbe"]]},{"id":"2844467f.bd249a","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1620,"wires":[["b25f3061.52d2e8"]]},{"id":"7b1c9926.117dd8","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1660,"wires":[["5ab1995a.9b9e08"]]},{"id":"109dd659.a2752a","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1700,"wires":[["a6cd64a9.0838c8"]]},{"id":"1e754a57.1779d6","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1780,"wires":[["b8820e41.a433b8"]]},{"id":"215c3fa8.e2a2e","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1820,"wires":[["243ea7cb.f79de8"]]},{"id":"1bc12ae3.99ea25","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1860,"wires":[["8b459d7a.b79018"]]},{"id":"4e2b0379.53d744","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1900,"wires":[["7bd9a6ac.9414b"]]},{"id":"c5fee8b9.750db8","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1940,"wires":[["2f3a6d0d.9126da"]]},{"id":"44879071.df9888","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1980,"wires":[["5c116c66.35b614"]]},{"id":"ab715ac1.64c43","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2020,"wires":[["b21bccd5.562a7"]]},{"id":"a049c58a.b85458","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2060,"wires":[["88e8277d.5ace1"]]},{"id":"55afb108.810b1","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2100,"wires":[["40aa4115.0d6e48"]]},{"id":"fab5c239.2c004","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2140,"wires":[["7484b54e.979d84"]]},{"id":"233ff8ba.805918","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2180,"wires":[["c49d223d.b417a8"]]},{"id":"cb282ecd.2c5d08","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2220,"wires":[["349291c3.4300ee"]]},{"id":"4b28eaba.f4b24c","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2260,"wires":[["842b35a6.edd1f"]]},{"id":"2b2f1aea.57293e","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2300,"wires":[["6c08d1f2.4b50d8"]]},{"id":"44a76886.66e598","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2340,"wires":[["4a7e8440.de0714"]]},{"id":"a07b04f0.032a98","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2380,"wires":[["e9534c28.bad488"]]},{"id":"d828a0e9.2c139","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2420,"wires":[["c4d07e77.77a6e8"]]},{"id":"affc390b.51aee","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2460,"wires":[["c2559a0d.2f12d"]]},{"id":"4694a903.7763c","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2500,"wires":[["25ea0bb.17b81f4"]]},{"id":"19d06bf1.64fe44","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2540,"wires":[["4acbb1cf.652258"]]},{"id":"a26cfe9c.7a952","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali konnektor bal terasz felől","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2180,"y":1460,"wires":[["6668b729.8c6f1"]]},{"id":"dbdba8ab.d3ad38","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Garázs konnektorok","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2140,"y":1500,"wires":[["af78037d.cfa7e8"]]},{"id":"2f435e90.a6084a","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Bende konnektor","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2130,"y":1540,"wires":[["d2c7ff49.820508"]]},{"id":"a6cd0316.24bbe","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Vendégszoba konnektor","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2150,"y":1580,"wires":[["e2304696.0b4078"]]},{"id":"b25f3061.52d2e8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Máté konnektor","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2120,"y":1620,"wires":[["b582b8f1.5b6948"]]},{"id":"5ab1995a.9b9e08","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Folyosó konnektor","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2130,"y":1660,"wires":[["15720ec1.eda431"]]},{"id":"a6cd64a9.0838c8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Gyerek fürdőszoba konnektor tükör felett","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2200,"y":1700,"wires":[["d679687e.03c91"]]},{"id":"b8820e41.a433b8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Szülő fürdőszoba törölközőszárító","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2180,"y":1780,"wires":[["206365b4.590202"]]},{"id":"243ea7cb.f79de8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Szülő fürdőszoba konnektor tükör felett","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2190,"y":1820,"wires":[["9f6c41c.d1237c"]]},{"id":"8b459d7a.b79018","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Vendég WC konnektor + bejárati konnektor","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2210,"y":1860,"wires":[["eba7fa7.f9c8608"]]},{"id":"7bd9a6ac.9414b","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Hálószoba TV+PC konnektor","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2160,"y":1900,"wires":[["15720733.8dd711"]]},{"id":"2f3a6d0d.9126da","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Gergő konnektor","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2130,"y":1940,"wires":[["5ab3e573.c3aa4c"]]},{"id":"5c116c66.35b614","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Kazán konnektor HMV keringetőszivattyú","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2200,"y":1980,"wires":[["1dace310.b60c6d"]]},{"id":"b21bccd5.562a7","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Kazán konnektor konvektorok keringetőszivattyú","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2220,"y":2020,"wires":[["9d02127.dfb117"]]},{"id":"88e8277d.5ace1","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Kazán konnektor kazán","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2150,"y":2060,"wires":[["817c61b8.8c165"]]},{"id":"40aa4115.0d6e48","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Kazán konnektor öntözőrendszer","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2180,"y":2100,"wires":[["cb5d3f01.864fd"]]},{"id":"7484b54e.979d84","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Kazán konnektor mosógép + szárítógép","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2200,"y":2140,"wires":[["64a6bc35.21355c"]]},{"id":"c49d223d.b417a8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Kazán konnektor nagy piros tartály","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2180,"y":2180,"wires":[["18fe7011.3ec96"]]},{"id":"349291c3.4300ee","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali konnektor terasszal ellentétes falon + TV","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2230,"y":2220,"wires":[["cb6e22d0.d5e7e"]]},{"id":"842b35a6.edd1f","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali konnektor jobb terasz felől","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2180,"y":2260,"wires":[["b955283a.95d5b8"]]},{"id":"6c08d1f2.4b50d8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali konnektor jobb hálónál","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2170,"y":2300,"wires":[["777ed1be.45459"]]},{"id":"4a7e8440.de0714","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali konnektor jobb Gergő szobánál","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2200,"y":2340,"wires":[["9f87ae38.772518"]]},{"id":"e9534c28.bad488","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali konnektor kémény","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2160,"y":2380,"wires":[["55c6ad1.0e9acd4"]]},{"id":"6668b729.8c6f1","type":"modbus-write","z":"dd4c4995.ed342","name":"1280","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1280","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1460,"wires":[[],[]]},{"id":"af78037d.cfa7e8","type":"modbus-write","z":"dd4c4995.ed342","name":"1296","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1296","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1500,"wires":[[],[]]},{"id":"d2c7ff49.820508","type":"modbus-write","z":"dd4c4995.ed342","name":"1302","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1302","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1540,"wires":[[],[]]},{"id":"e2304696.0b4078","type":"modbus-write","z":"dd4c4995.ed342","name":"1304","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1304","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1580,"wires":[[],[]]},{"id":"b582b8f1.5b6948","type":"modbus-write","z":"dd4c4995.ed342","name":"1306","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1306","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1620,"wires":[[],[]]},{"id":"15720ec1.eda431","type":"modbus-write","z":"dd4c4995.ed342","name":"1308","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1308","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1660,"wires":[[],[]]},{"id":"d679687e.03c91","type":"modbus-write","z":"dd4c4995.ed342","name":"1313","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1313","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1700,"wires":[[],[]]},{"id":"206365b4.590202","type":"modbus-write","z":"dd4c4995.ed342","name":"1315","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1315","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1780,"wires":[[],[]]},{"id":"9f6c41c.d1237c","type":"modbus-write","z":"dd4c4995.ed342","name":"1318","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1318","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1820,"wires":[[],[]]},{"id":"eba7fa7.f9c8608","type":"modbus-write","z":"dd4c4995.ed342","name":"1322","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1322","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1860,"wires":[[],[]]},{"id":"15720733.8dd711","type":"modbus-write","z":"dd4c4995.ed342","name":"1323","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1323","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1900,"wires":[[],[]]},{"id":"5ab3e573.c3aa4c","type":"modbus-write","z":"dd4c4995.ed342","name":"1328","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1328","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1940,"wires":[[],[]]},{"id":"1dace310.b60c6d","type":"modbus-write","z":"dd4c4995.ed342","name":"1338","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1338","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1980,"wires":[[],[]]},{"id":"9d02127.dfb117","type":"modbus-write","z":"dd4c4995.ed342","name":"1339","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1339","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2020,"wires":[[],[]]},{"id":"817c61b8.8c165","type":"modbus-write","z":"dd4c4995.ed342","name":"1340","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1340","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2060,"wires":[[],[]]},{"id":"cb5d3f01.864fd","type":"modbus-write","z":"dd4c4995.ed342","name":"1341","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1341","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2100,"wires":[[],[]]},{"id":"64a6bc35.21355c","type":"modbus-write","z":"dd4c4995.ed342","name":"1342","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1342","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2140,"wires":[[],[]]},{"id":"18fe7011.3ec96","type":"modbus-write","z":"dd4c4995.ed342","name":"1343","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1343","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2180,"wires":[[],[]]},{"id":"cb6e22d0.d5e7e","type":"modbus-write","z":"dd4c4995.ed342","name":"1347","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1347","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2220,"wires":[[],[]]},{"id":"b955283a.95d5b8","type":"modbus-write","z":"dd4c4995.ed342","name":"1348","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1348","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2260,"wires":[[],[]]},{"id":"777ed1be.45459","type":"modbus-write","z":"dd4c4995.ed342","name":"1349","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1349","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2300,"wires":[[],[]]},{"id":"9f87ae38.772518","type":"modbus-write","z":"dd4c4995.ed342","name":"1350","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1350","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2340,"wires":[[],[]]},{"id":"55c6ad1.0e9acd4","type":"modbus-write","z":"dd4c4995.ed342","name":"1351","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1351","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2380,"wires":[[],[]]},{"id":"c4d07e77.77a6e8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali redőny mozgatás tető redőny bal fel/le","tooltip":"","group":"1c2c81e5.8eacfe","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2220,"y":2420,"wires":[["ee4a359c.cc337"]]},{"id":"c2559a0d.2f12d","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Nappali redőny mozgatás tető redőny jobb fel / le","tooltip":"","group":"1c2c81e5.8eacfe","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2230,"y":2460,"wires":[["8e2becda.fe647"]]},{"id":"25ea0bb.17b81f4","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Kazán elszívó 1","tooltip":"","group":"1c2c81e5.8eacfe","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2120,"y":2500,"wires":[["cfc83772.d86ca"]]},{"id":"4acbb1cf.652258","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Kazán elszívó 2","tooltip":"","group":"1c2c81e5.8eacfe","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2120,"y":2540,"wires":[["339bada5.c3c722"]]},{"id":"ee4a359c.cc337","type":"modbus-write","z":"dd4c4995.ed342","name":"1286","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1286","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2420,"wires":[[],[]]},{"id":"8e2becda.fe647","type":"modbus-write","z":"dd4c4995.ed342","name":"1287","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1287","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2460,"wires":[[],[]]},{"id":"cfc83772.d86ca","type":"modbus-write","z":"dd4c4995.ed342","name":"1288","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1288","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2500,"wires":[[],[]]},{"id":"339bada5.c3c722","type":"modbus-write","z":"dd4c4995.ed342","name":"1346","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1346","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2540,"wires":[[],[]]},{"id":"9dca08e5.2fc678","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":1740,"wires":[["526cc993.66fbd8"]]},{"id":"526cc993.66fbd8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"Gyerek fürdőszoba törölközőszárító","tooltip":"","group":"6bd21ade.3ce6e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2180,"y":1740,"wires":[["28c71ce1.b7f1ac"]]},{"id":"28c71ce1.b7f1ac","type":"modbus-write","z":"dd4c4995.ed342","name":"1314","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1314","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":1740,"wires":[[],[]]},{"id":"ea06d049.db68f","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"1289","tooltip":"","group":"59f1b445.86f2cc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2090,"y":2580,"wires":[["6a1a6bca.14c9bc"]]},{"id":"6a1a6bca.14c9bc","type":"modbus-write","z":"dd4c4995.ed342","name":"1289","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1289","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2580,"wires":[[],[]]},{"id":"33cfb679.317dba","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"1290","tooltip":"","group":"59f1b445.86f2cc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2090,"y":2620,"wires":[["ab1f5d0f.f82c28"]]},{"id":"ab1f5d0f.f82c28","type":"modbus-write","z":"dd4c4995.ed342","name":"1290","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1290","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2620,"wires":[[],[]]},{"id":"b3459c19.b9785","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"1291","tooltip":"","group":"59f1b445.86f2cc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2090,"y":2660,"wires":[["8ebdf686.01ed7"]]},{"id":"8ebdf686.01ed7","type":"modbus-write","z":"dd4c4995.ed342","name":"1291","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1291","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2660,"wires":[[],[]]},{"id":"d0304cfa.e8bfd8","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"1298","tooltip":"","group":"59f1b445.86f2cc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2090,"y":2700,"wires":[["82a409ba.d8528"]]},{"id":"82a409ba.d8528","type":"modbus-write","z":"dd4c4995.ed342","name":"1298","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1298","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2700,"wires":[[],[]]},{"id":"34f29eea.604362","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"1299","tooltip":"","group":"59f1b445.86f2cc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2090,"y":2740,"wires":[["5105e207.e706e4"]]},{"id":"5105e207.e706e4","type":"modbus-write","z":"dd4c4995.ed342","name":"1299","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1299","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2740,"wires":[[],[]]},{"id":"a9763c62.d1e1c","type":"ui_switch","z":"dd4c4995.ed342","name":"","label":"1344","tooltip":"","group":"59f1b445.86f2cc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":2090,"y":2780,"wires":[["427abd82.5b98f4"]]},{"id":"427abd82.5b98f4","type":"modbus-write","z":"dd4c4995.ed342","name":"1344","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1344","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":2530,"y":2780,"wires":[[],[]]},{"id":"517075bd.544bcc","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2580,"wires":[["ea06d049.db68f"]]},{"id":"2b701380.9955b4","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2620,"wires":[["33cfb679.317dba"]]},{"id":"39cc3606.2a080a","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2660,"wires":[["b3459c19.b9785"]]},{"id":"4ff70d6a.1fda4c","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2700,"wires":[["d0304cfa.e8bfd8"]]},{"id":"30efe7fd.771d28","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2740,"wires":[["34f29eea.604362"]]},{"id":"ab535452.f2c9b8","type":"rbe","z":"dd4c4995.ed342","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1950,"y":2780,"wires":[["a9763c62.d1e1c"]]},{"id":"47b3efbd.aaf2d","type":"modbus-write","z":"dd4c4995.ed342","name":"1281","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1281","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":80,"wires":[[],[]]},{"id":"b959bfec.d1bb98","type":"modbus-write","z":"dd4c4995.ed342","name":"1282","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1282","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":120,"wires":[[],[]]},{"id":"8f084d87.d08718","type":"modbus-write","z":"dd4c4995.ed342","name":"1283","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1283","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":160,"wires":[[],[]]},{"id":"c135df42.9083b","type":"modbus-write","z":"dd4c4995.ed342","name":"1284","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1284","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":200,"wires":[[],[]]},{"id":"edbbaba2.bd4fd","type":"modbus-write","z":"dd4c4995.ed342","name":"1285","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1285","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":240,"wires":[[],[]]},{"id":"920d7420.180a6","type":"modbus-write","z":"dd4c4995.ed342","name":"1297","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1297","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":280,"wires":[[],[]]},{"id":"6f356d51.7d455c","type":"modbus-write","z":"dd4c4995.ed342","name":"1300","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1300","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":320,"wires":[[],[]]},{"id":"ad963a46.a21f1","type":"modbus-write","z":"dd4c4995.ed342","name":"1303","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1303","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":360,"wires":[[],[]]},{"id":"f67ef39a.fd8148","type":"modbus-write","z":"dd4c4995.ed342","name":"1305","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1305","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":400,"wires":[[],[]]},{"id":"f4fa1ab4.589388","type":"modbus-write","z":"dd4c4995.ed342","name":"1307","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1307","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":440,"wires":[[],[]]},{"id":"b42ccff.84a1f3","type":"modbus-write","z":"dd4c4995.ed342","name":"1309","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1309","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":480,"wires":[[],[]]},{"id":"6cb7377f.47435","type":"modbus-write","z":"dd4c4995.ed342","name":"1310","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1310","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":520,"wires":[[],[]]},{"id":"e28f4eb7.0906","type":"modbus-write","z":"dd4c4995.ed342","name":"1311","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1311","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":560,"wires":[[],[]]},{"id":"b94ddbd9.3c95","type":"modbus-write","z":"dd4c4995.ed342","name":"1312","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1312","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":600,"wires":[[],[]]},{"id":"2aeab387.f5c34c","type":"modbus-write","z":"dd4c4995.ed342","name":"1316","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1316","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":640,"wires":[[],[]]},{"id":"824ab506.e6f9a","type":"modbus-write","z":"dd4c4995.ed342","name":"1317","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1317","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":680,"wires":[[],[]]},{"id":"96692a85.2ed9f","type":"modbus-write","z":"dd4c4995.ed342","name":"1317","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1317","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":720,"wires":[[],[]]},{"id":"959b7edb.3b35b8","type":"modbus-write","z":"dd4c4995.ed342","name":"1319","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1319","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":760,"wires":[[],[]]},{"id":"bf5c2e9b.5a8d9","type":"modbus-write","z":"dd4c4995.ed342","name":"1320","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1320","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":800,"wires":[[],[]]},{"id":"bd241016.602db8","type":"modbus-write","z":"dd4c4995.ed342","name":"1321","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1321","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":840,"wires":[[],[]]},{"id":"b41b7e3f.873038","type":"modbus-write","z":"dd4c4995.ed342","name":"1324","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1324","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":880,"wires":[[],[]]},{"id":"ab28e3b5.1c7bd","type":"modbus-write","z":"dd4c4995.ed342","name":"1326","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1326","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":920,"wires":[[],[]]},{"id":"21f5be23.7c15ba","type":"modbus-write","z":"dd4c4995.ed342","name":"1327","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1327","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":960,"wires":[[],[]]},{"id":"54d6b044.ddea28","type":"modbus-write","z":"dd4c4995.ed342","name":"1329","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1329","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":1000,"wires":[[],[]]},{"id":"857ecaca.76e8f8","type":"modbus-write","z":"dd4c4995.ed342","name":"1330","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1330","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":1040,"wires":[[],[]]},{"id":"14fcade2.9a46f2","type":"modbus-write","z":"dd4c4995.ed342","name":"1331","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1331","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":1080,"wires":[[],[]]},{"id":"f650e3dd.6d64e8","type":"modbus-write","z":"dd4c4995.ed342","name":"1332","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1332","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":1120,"wires":[[],[]]},{"id":"d36999a8.8d4e8","type":"modbus-write","z":"dd4c4995.ed342","name":"1333","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1333","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":1160,"wires":[[],[]]},{"id":"cbce3253.66bb88","type":"modbus-write","z":"dd4c4995.ed342","name":"1334","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1334","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":1200,"wires":[[],[]]},{"id":"cf67e610.ce0a88","type":"modbus-write","z":"dd4c4995.ed342","name":"1335","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1335","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":1240,"wires":[[],[]]},{"id":"9ea59ed6.1f25d","type":"modbus-write","z":"dd4c4995.ed342","name":"1336","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1336","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":1280,"wires":[[],[]]},{"id":"c48ff6b8.3ebf4","type":"modbus-write","z":"dd4c4995.ed342","name":"1337","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1337","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":1320,"wires":[[],[]]},{"id":"92e93d34.1cf4c8","type":"modbus-write","z":"dd4c4995.ed342","name":"1345","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1345","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":1360,"wires":[[],[]]},{"id":"785d1d1d.da7dec","type":"nora-light","z":"dd4c4995.ed342","devicename":"Children bathroom ceiling lights","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Children bathroom","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":210,"y":560,"wires":[["e28f4eb7.0906"]]},{"id":"da553e98.3a272","type":"nora-light","z":"dd4c4995.ed342","devicename":"Children bathroom lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Children bathroom","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":190,"y":600,"wires":[["b94ddbd9.3c95"]]},{"id":"1e9d55bb.d74ba2","type":"nora-light","z":"dd4c4995.ed342","devicename":"Bathroom mirror lights","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Bathroom","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":180,"y":640,"wires":[["2aeab387.f5c34c"]]},{"id":"388ed73d.900348","type":"nora-light","z":"dd4c4995.ed342","devicename":"Bathroom ceiling lights","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Bathroom","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":180,"y":680,"wires":[["824ab506.e6f9a"]]},{"id":"78a3a9df.84a118","type":"nora-light","z":"dd4c4995.ed342","devicename":"Bathroom lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Bathroom","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":160,"y":720,"wires":[["96692a85.2ed9f"]]},{"id":"dd29d6dd.f8715","type":"nora-light","z":"dd4c4995.ed342","devicename":"External garage lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garden","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":180,"y":1000,"wires":[["54d6b044.ddea28"]]},{"id":"76a292da.a20dbc","type":"nora-light","z":"dd4c4995.ed342","devicename":"External long wall lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garden","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":190,"y":1040,"wires":[["857ecaca.76e8f8"]]},{"id":"28f0ed67.2a3ed2","type":"nora-light","z":"dd4c4995.ed342","devicename":"External garden bedroom lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garden","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":210,"y":1080,"wires":[["14fcade2.9a46f2"]]},{"id":"1684f6e9.ee0891","type":"nora-light","z":"dd4c4995.ed342","devicename":"External garden middle lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garden","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":200,"y":1120,"wires":[["f650e3dd.6d64e8"]]},{"id":"bcb1dba8.ce2a1","type":"nora-light","z":"dd4c4995.ed342","devicename":"External garden dining lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garden","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":200,"y":1160,"wires":[["d36999a8.8d4e8"]]},{"id":"299690d2.0212a8","type":"nora-light","z":"dd4c4995.ed342","devicename":"External kitchen wall lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garden","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":190,"y":1200,"wires":[["cbce3253.66bb88"]]},{"id":"342f10c8.134298","type":"nora-light","z":"dd4c4995.ed342","devicename":"External entrance lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Garden","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":190,"y":1240,"wires":[["cf67e610.ce0a88"]]},{"id":"b0b87541.94a42","type":"nora-light","z":"dd4c4995.ed342","devicename":"Dining room lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Kitchen","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":170,"y":1280,"wires":[["9ea59ed6.1f25d"]]},{"id":"15d35910.35bbef","type":"nora-light","z":"dd4c4995.ed342","devicename":"Technical lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Technical","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":160,"y":1320,"wires":[["c48ff6b8.3ebf4"]]},{"id":"85bd8cde.5159e8","type":"nora-light","z":"dd4c4995.ed342","devicename":"Attic lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Attic","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":140,"y":1360,"wires":[["92e93d34.1cf4c8"]]},{"id":"49ff851c.1f66bc","type":"nora-light","z":"dd4c4995.ed342","devicename":"Chamber lamp","lightcolor":false,"brightnesscontrol":false,"turnonwhenbrightnesschanges":false,"passthru":false,"statepayload":true,"brightnessoverride":"","roomhint":"Chamber","name":"","nora":"81487e4a.538d18","topic":"","onvalue":"1","onvalueType":"num","offvalue":"0","offvalueType":"num","x":160,"y":800,"wires":[["bf5c2e9b.5a8d9"]]},{"id":"3353575e.c041c","type":"inject","z":"dd4c4995.ed342","name":"Ébresztő","props":[{"p":"payload"}],"repeat":"","crontab":"02 13 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2000,"wires":[["179ff4af.dc8893"]]},{"id":"179ff4af.dc8893","type":"looptimer","z":"dd4c4995.ed342","duration":"1","units":"Second","maxloops":"12","maxtimeout":"70","maxtimeoutunits":"Second","name":"","x":360,"y":2000,"wires":[["5270b402.ca2cfc"],[]]},{"id":"5270b402.ca2cfc","type":"trigger","z":"dd4c4995.ed342","name":"","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":580,"y":2000,"wires":[["90f2fc2e.0b828"]]},{"id":"90f2fc2e.0b828","type":"modbus-write","z":"dd4c4995.ed342","name":"1303","showStatusActivities":false,"showErrors":false,"unitid":"0","dataType":"Coil","adr":"1303","quantity":"1","server":"39722fe1.c418e","emptyMsgOnFail":false,"keepMsgProperties":false,"x":770,"y":2000,"wires":[[],[]]}]